stages:
    - test
    - deploy

.job_template: &test_job
    stage: test
    before_script:
        - composer update --prefer-dist --no-progress --no-interaction
    script:
        - phing test
    retry: 2
    rules:
        -   if: $CI_COMMIT_BRANCH
    cache:
        paths:
            - vendor/

test:php8.3:
    <<: *test_job
    image: nexendrie/php:8.3

test:cc:
    <<: *test_job
    image: nexendrie/php:8.3
    coverage: '/(\d+\%) covered/'

pages:
    stage: deploy
    environment:
        name: documentation
        url: https://heroesofabenez.gitlab.io/combat
    image: nexendrie/php:8.3
    script:
        - composer create-project --no-dev nexendrie/site-generator
        - site-generator/bin/generate-site --source=docs --output=public
    artifacts:
        paths:
            - public
    rules:
        -   if: $CI_COMMIT_TAG
    cache:
        paths:
            - vendor/

release:
    stage: deploy
    image: registry.gitlab.com/gitlab-org/release-cli:latest
    rules:
        -   if: $CI_COMMIT_TAG
    script:
        - echo "Creating GitLab release"
    release:
        tag_name: $CI_COMMIT_TAG
        name: "Version $CI_COMMIT_TAG"
        description: "./RELEASE_NOTES"
