<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Combat</title>
</head>
<body>
<article id="main">
  <h1>Combat</h1>
  <div id="team1">
    <h3 class="teamName">Team 1</h3>
    <div class="members">
      Player 1: level 1
    </div>
  </div>
  <div id="team2">
    <h3 class="teamName">Team 2</h3>
    <div class="members">
      Player 2: level 1
    </div>
  </div>
  <div id="combat">
    <h3>Battle</h3>
      <h4>Round 1</h4>
      abc.abc<br>
      Player 1 attacks Player 2 and hits. Player 2 loses 1 hitpoints.<br>
      Player 2 attacks Player 1 but misses.
      <h4>Round 2</h4>
      Player 1 uses attack Abc on Player 2 and hits. Player 2 loses 1 hitpoints.<br>
      Player 2 uses attack Def on Player 1 but misses.<br>
      Player 1 successfully casts Abc on Player 2.<br>
      Player 2 tries to cast Def on Player 1 but fails.<br>
      Player 1 heals Player 2 for 1 hitpoint(s).<br>
      Player 2 tries to heal Player 1 but fails.<br>
      Player 1 loses 1 hitpoint(s) due to poison.
  </div>
</article>
</body>
</html>