<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title> Combat</title>
</head>
<body>
<article id="main">
  <h1>Combat</h1>
  <div id="team1">
    <h3 class="teamName">Team 1</h3>
    <div class="members">
      Player 1: level 1
    </div>
  </div>
  <div id="team2">
    <h3 class="teamName">Team 2</h3>
    <div class="members">
      Player 2: level 1
    </div>
  </div>
  <div id="combat">
    <h3>Battle</h3>
      <h4>Round 1</h4>
      abc.abc<br>
      abc.abc
      <h4>Round 2</h4>
      abc.abc<br>
      abc.abc
  </div>
</article>
</body>
</html>